<div class="flex flex-col gap-4">
  <!-- Sticky Search Bar -->
  <div
    class="p-4 rounded-md bg-white/50 dark:bg-gray-700/30 sticky top-0 z-[999] backdrop-blur-md"
  >
    <search-bar
      (filterProductsEventByTitle)="filterProductsByTitle($event)"
      (addProductEvent)="addNewProduct($event)"
    ></search-bar>
  </div>

  <!-- Loading Indicator -->
  <loading></loading>

  <!-- Product Grid -->
  @if (filteredProducts()?.length > 0) {
  <div
    class="grid place-items-center gap-4 p-4 bg-white dark:bg-gray-700 rounded-md min-h-screen"
    [ngClass]="{
      'grid-cols-1 md:grid-cols-2 xl:grid-cols-3': filteredProducts().length > 0
    }"
  >
    @for (product of filteredProducts(); track product.id) {
    <product-card
      [product]="product"
      (deleteProductEvent)="delete($event)"
      (editProductEvent)="openDialogToEdit($event)"
    ></product-card>
    }
  </div>
  } @else if (noDataFound()) {
  <h1
    class="w-full h-80 grid place-items-center text-xl font-bold text-gray-800 dark:text-white"
  >
    <span>No data found</span>
  </h1>

  }

  <messages/>
  <!-- Modals and Alerts -->
  @if (openProductDialog) {
  <add-product-modal
    (closeProductmodal)="onClose($event)"
    (createdProductData)="createProduct($event)"
    (updatedProductData)="updateProduct($event)"
    [productData]="productToUpdate()"
  ></add-product-modal>
  }


</div>
