<div
  class="flex flex-col gap-4  "
>
  <div class="p-4 rounded-md bg-white/50 dark:bg-gray-700/30 sticky top-0 z-[999] backdrop-blur-md">
    <filter-products
      (filterProductsEvent)="filterProductsByTitle($event)"
      (resetFiltersEvent)="resetFilters($event)"
      (addProductEvent)="addNewProduct($event)"
    ></filter-products>
  </div>

  <div
    class="grid place-items-center gap-4  p-4 bg-white dark:bg-gray-700 rounded-md "
    [ngClass]="{ 'grid-cols-1 md:grid-cols-2 xl:grid-cols-3': productList.length > 0 }"
  >
    <!-- now instead of *ngFor  use @for  , for loop must have a track experssion -->
    <!-- @for option 
    let index = $index , count return number of elements  , (first , last , even , odd  : useful for style )-->
    <!-- to upgrade old version of angluer project  just run this command :-
    -----------------------((( ng generate @angular/core:control-flow )))--------------------------------
     -->

    @for(product of productList; track product.id){
    <product-card [product]="product"></product-card>
    } @empty{
    <h1
      class="h-[80vh] grid place-items-center text-xl font-bold text-gray-800 dark:text-white  w-full"
    >
      <span>No data found</span>
    </h1>
    }
  </div>
</div>


@if(openProductDialog){
<add-product-modal (closeProductmodal)="onClose($event)"></add-product-modal>
}
